
        <div class="row">
            <!-- Lateral izquierdo -->
            <!-- <div class="col-md-3">
                <div class="btn-group-vertical w-100" role="group" aria-label="Months">
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(1)">Enero</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(2)">Febrero</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(3)">Marzo</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(4)">Abril</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(5)">Mayo</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(6)">Junio</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(7)">Julio</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(8)">Agosto</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(9)">Septiembre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(10)">Octubre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(11)">Noviembre</button>
                    <button type="button" class="btn btn-secondary" (click)="simularSistema(12)">Diciembre</button>
                </div>
            </div> -->
            <!-- Lateral derecho -->
                <div style="position: relative; height: 25%; width: 100%;">
                    <canvas id="ChartProduccionMediaHorariaMensual"></canvas>
                    <!-- <p>Este grafico muestra la producción media por horas para el mes seleccionado</p> -->
                </div>
                <div style="position: relative; height: 25%; width: 100%;"> 
                    <canvas id="ChartProduccionMediaMensual"></canvas>
                </div>
                <div style="position: relative; height: 25%; width: 100%;"> <canvas id="ChartVocIsc"></canvas></div>
                
                <div style="position: relative; height: 25%; width: 100%;"> <canvas id="ChartTemperaturaAmbienteCelula"></canvas></div>
                

        </div>

