<app-nav></app-nav>
<!-- https://www2.pvlighthouse.com.au/calculators/solar%20path%20calculator/solar%20path%20calculator.aspx -->
<div class="container" style="margin-top: 160px;">
  
    <!-- About Project Section -->
    <div class="section">
      <h1>¡Bienvenido a SunCodex! ☀️🔋</h1>
      <p>SunCodex es una plataforma creada para quienes desean explorar y aprender sobre la energía solar de una manera práctica y entretenida. Aquí encontrarás herramientas que te ayudarán a calcular sistemas de energía solar personalizados, adaptados a tus necesidades y a tu entorno. Además, esta plataforma está diseñada para enseñarte cómo funcionan los componentes clave de una instalación fotovoltaica – desde los paneles y controladores hasta inversores y baterías. 🔧💡</p>
      <p>Nuestra misión es inspirar y fomentar el uso de la energía solar, guiándote paso a paso en el camino hacia un estilo de vida más sostenible y conectado con el medio ambiente. 🌍✨ En SunCodex, también podrás descubrir aplicaciones innovadoras de la energía solar en sistemas cotidianos que pueden cambiar nuestra relación con el planeta.</p>
      <p>⚠️ "Es importante mencionar que SunCodex también es un proyecto en evolución. Estoy en constante aprendizaje sobre energía solar, por lo que algunos detalles pueden estar sujetos a mejoras o ajustes. Agradezco cualquier comentario, idea o sugerencia que ayude a optimizar la plataforma, así como a corregir posibles errores. ¡Juntos podemos hacer de SunCodex una herramienta aún más valiosa para todos los interesados en la energía solar y su potencial en el mundo!"</p>
      <p>¡Únete a nosotros y descubre el poder del sol para transformar tu hogar y el futuro! 🌱🌞</p>
  </div>

  <!-- About Me Section -->
  <div class="section">
    <img src="../assets/img/perfil.jpg" alt="Createx Logo" alt="Profile Picture" class="profile-pic">
    <h1>Sobre Mi.. 👋</h1>
    <p>¡Hola! Soy Fabián 🌞, ingeniero de software y un apasionado por las posibilidades infinitas de la energía solar. 🌱 Con cada proyecto que emprendo, mi objetivo es crear un impacto positivo, ya sea desarrollando soluciones tecnológicas sostenibles o conectando con personas que compartan la visión de un futuro más verde. 🌎
        Me motiva la idea de que cada línea de código y cada conversación pueden acercarnos un poco más a un mundo donde la tecnología y el medio ambiente trabajen en armonía. Con muchas ganas de seguir innovando y de conocer a personas que también quieran marcar la diferencia. ¡Vamos a construir juntos un mañana más brillante! ⚡😊</p>
    
    <div class="skills">
      <h2>My Skills 🚀</h2>
      <!-- <span>Project Management 🗂️</span> -->
      <span>Diseño Web 🌐</span>
      <!-- <span>Graphic Design 🎨</span> -->
      <span>Data Analysis 📊</span>
      <!-- <span>Creative Writing ✍️</span> -->
      <span>Energía Solar 🌞</span>
      <span>Sistemas 👨🏻‍💻</span>
      <span>Redes 🕸️</span>
      <span>Dialux Evo 💡</span>
      <span>Skepchup 🏗️</span>
        <span>Threejs 🔻</span>
    </div>

    <div class="contact-info">
      <h2>Contact Me 📫</h2>
      <a href="mailto:your-email@example.com" title="Email"><i class="fas fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/yourprofile" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/yourprofile" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
      <a href="tel:+123456789" title="Phone"><i class="fas fa-phone"></i></a>
    </div>
  </div>


</div>


<app-footer></app-footer>
