<app-nav></app-nav>

<div class="spline-container" style="margin-top: 160px;">

  <div class="overlay-content">
    <h2>Lamparas Solares</h2>
  </div>


  <spline-viewer url="https://prod.spline.design/8JcrspJ6ui5pOo9p/scene.splinecode" loading-anim-type="spinner-small"
    events-target="global">
  </spline-viewer>
</div>

<div class="container-fluid cards-section">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="assets/img/avanzada.jpg" class="card-img-top" alt="Calculadora Avanzada">
        <div class="card-body">
          <h3 class="card-title">Iluminación Vial</h3>
          <p class="card-text">
            Observa Como Las lamparas solares se comportan en una iluminacion Vial
          </p>
          <a [routerLink]="['/panelSolar/simular']" class="btn btn-outline-primary">Iluminación Vial</a>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="assets/img/tax.jpg" class="card-img-top" alt="Facturas">
        <div class="card-body">
          <h3 class="card-title">Modelo 3D</h3>
          <p class="card-text">
          Explor la estructura de una lampara Solar En 3D
          </p>
          <a [routerLink]="['/lamparaSolar/simularLamparaSolar']" class="btn btn-outline-primary">Modelo 3D</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="assets/img/estandar.jpg" class="card-img-top" alt="Estandar">
        <div class="card-body">
          <h3 class="card-title">Otra Herramienta</h3>
          <p class="card-text">
            Aquí te proporcionaremos diferentes electrodomésticos de uso común con sus potencias para que diseñes
            un sistema fotovoltaico a partir de ellos.
          </p>
          <a [routerLink]="['calculo/interactiva']" class="btn btn-outline-primary">Comenzar</a>
        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>